<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="template :: dochead">
</head>

<div th:replace="template :: navigation"></div>

<body style="background: linear-gradient(
    to right, 
    #F34F26 0%, 
    #F34F26 36%, 
    #FFF55F 36%, 
    #FFF55F 100%
  );">

	<form method="post" style="background-color:56d8d8;">
	
		<div style="width:64%; float:right;">
	    	
	    	
	        <h1 th:value="${name}" th:text="${name}"></h1><br></br>
	        BIRTHDATE
	        <p th:value="${year}" th:text="${year}"></p><br></br>
	        HOMETOWN
	        <p th:value="${hometown}" th:text="${hometown}"></p><br></br>
	        BIOGRAPHY
	        <p th:value="${bio}" th:text="${bio}"></p><br></br>
	        FILMOGRAPHY
	    </div>
	       
	     <div style="font-size:35px;">
	        <img style="width:35%; float:left;" th:src="${picture}" alt="No Picture Found"></img>
	     </div>  
	
	    <div style="width:64%; float:right;">
	    <table style="display: inline-block;">
	    
		    <tr th:each="title : ${titles}">
		    	
		    	<td><button style="width:100%" type="submit" name="button" th:value="${titles.indexOf(title)}"
		    	                                        th:text="${title}"></button></td>
		    			
		    <!-- 	<td th:text="${years.get(titles.indexOf(title))}"></td> -->
		    	
		    </tr>
		</table>
		
		 <table style="display: inline-block;">
	    
		    <tr th:each="year : ${years}">
		    			
		    	<td height="25" th:text="${year}"></td>
		    	
		    </tr>
		</table>
		
		<table style="display: inline-block;">  
		    <tr th:each="job : ${jobs}">
		    	
		    	<td height="25" th:text="${job}"></td>
		   
		    </tr>
	    
	    </table>
	    </div> 
	        <div class="error" th:text="${error}"></div>	
	
	</form>
	
</body>


</html>