<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="template :: dochead">
</head>

<div th:replace="template :: navigation"></div>

<body id="actorBody">

	<form method="post">
	
		<div class="right">
	    		    	
	        <h1 th:value="${name}" th:text="${name}"></h1><br></br>
	        <a>BIRTHDATE</a>
	        <p th:value="${year}" th:text="${year}"></p><br></br>
	        <a>HOMETOWN</a>
	        <p th:value="${hometown}" th:text="${hometown}"></p><br></br>
	        <a>BIOGRAPHY</a>
	        <p th:value="${bio}" th:text="${bio}"></p><br></br>
	        <a>FILMOGRAPHY</a>
	    </div>
	       
	     <div>
	        <img th:src="${picture}" alt="No Picture Found"></img>
	     </div>  
	
	    <div id="infoLinks-actor">
	    <table>
	    
		    <tr th:each="title : ${titles}">
		    	
		    	<td><button type="submit" style="width: 100%" name="button" th:value="${titles.indexOf(title)}"
		    	                                        th:text="${title}"></button></td>
		    	
		    </tr>
		</table>
		
		
		 <table>
	    
		    <tr th:each="year : ${years}">
		    			
		    	<td class="infoRow" height="25" th:text="${year}"></td>
		    	
		    </tr>
		</table>
		
		<table>  
		    <tr th:each="job : ${jobs}">
		    	
		    	<td class="infoRow" height="25" th:text="${job}"></td>
		   
		    </tr>
	    
	    </table>
	    </div> 
	    
	        <div class="error" th:text="${error}"></div>	
	
	</form>

</body>


</html>