<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="template :: dochead">
</head>

<div th:replace="template :: navigation"></div>

<body>

	<div id="wrapper3">

	<form method="post">
	
		<h3>
			Review# 
			<a th:text="${review.uid}"></a>
		</h3>
	
	
		<h1>Edit Review</h1>
	    
	        <h2><a th:value="${review.title}" th:text="${review.title}"></a>
	        	Average Rating
	        	<a th:value="${avgRating}" th:text="${avgRating}"></a>
	        </h2>
	        
	        Rating
	        <input type="text" name="rating" th:value="${review.rating}"></input>
	   		<br></br>
	    <label>
	        <a>review</a><br></br>
	        <textarea name="body" th:value="${review.body}" th:text="${review.body}"></textarea>
	    </label>
	   
	    <p>
   	 		written on <a th:text="${#dates.format(review.created, 'yyyy-MM-dd')}"></a> by <a th:href="'/' + ${review.author.username}" th:text="${review.author.username}"></a>
		</p>
	    <button type="submit" value="save" name="button">Save</button>
	    <button type="submit" value="delete" name="button">Delete</button>
	    
	</form>
	
	</div>
	<div class="error" th:text="${error}"></div>

</body>
</html>