<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="template :: dochead">
</head>
<body>
	
<div th:replace="template :: top-nav"></div>

<div id="wrapper">

			<div id="welcome">
				<a>Welcome to "Is It Worth Seeing?".
				   Search current movies or your favorites from the past.<br></br>
				   Read other people's reviews/ratings or create your own.</a>
			</div>		
	
<h1 style="text-align: center;"><a th:text="${author}"></a>&nbsp;Recent Reviews</h1>


<table style="width: 100%; text-align: center;">
	<tr class="allReviews" th:each="review : ${reviews}">
		<td>
		
			<h2>
				<a th:href="'/Movie/' + ${review.movieID}" 
		           th:text="${review.title}"></a>
		        <a>(</a>
		        <a th:text="${ratings.get(reviews.indexOf(review))}"></a>
		        <a>avg. rating)</a>
		    </h2>
		
			<input type="hidden" th:value="${review.movieID}"></input>
		
			<a th:text="${review.rating}"></a>&nbsp;RATING<br></br><br></br>
			
			
			<p style="word-wrap: break-word; white-space: pre-wrap; margin-left:10%; margin-right:10%;" 
			             th:text="${firstLines.get(reviews.indexOf(review)) + '.....'}"></p>
			
			
		    <p>Review#&nbsp;<a th:href="'/' + ${review.author.username} + '/' + ${review.uid}"
		       th:text="${review.uid}"></a>
		       &nbsp;written on <a th:text="${#dates.format(review.created, 'yyyy-MM-dd')}"></a> by 
		       <a th:href="'/' + ${review.author.username}" 
		       th:text="${review.author.username}"></a></p>
		</td>
	</tr>
</table>

</div>

</body>

<div th:replace="template :: navigation"></div>

</html>