<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="template :: dochead">
</head>
<body>
	
<div th:replace="template :: top-nav"></div>

<div id="wrapper">
<h1 style="text-align: center;"><a th:text="${author}"></a><a>&nbsp;</a>Movie Reviews!</h1>


<table style="width: 100%; text-align: center;">
	<tr class="allReviews" th:each="review : ${reviews}">
		<td>
		
			<h2>
				<a th:href="'/movie/' + ${review.movieID}" 
		           th:text="${review.title}"></a>
		        <a>(</a>
		        <a th:text="${ratings.get(reviews.indexOf(review))}"></a>
		        <a>avg. rating)</a>
		    </h2>
		
			<input type="hidden" th:value="${review.movieID}"></input>
		
			<a th:text="${review.rating}"></a>&nbsp;RATING<br></br><br></br>
			
			<a th:text="${review.body}"></a>
			
		    <p>Review#&nbsp;<a th:href="'/' + ${review.author.username} + '/' + ${review.uid}"
		       th:text="${review.uid}"></a>
		       &nbsp;written on <a th:text="${#dates.format(review.created, 'yyyy-MM-dd')}"></a> by 
		       <a th:href="'/' + ${review.author.username}" 
		       th:text="${review.author.username}"></a></p>
		</td>
	</tr>
</table>

</div>

</body>

<div th:replace="template :: navigation"></div>

</html>