<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="template :: dochead">
</head>
<body>

	<div th:replace="template :: navigation"></div>
	
	<div id="wrapper2">

	<form method="post">
	    <h2>Search by Movie Title</h2>
	    <label>
 		
 			<input type="text" name="preTitle" th:value="${preTitle}"></input>
	        
	        <button type="submit" name="button" value="search">Search</button>
	    </label>
	    
	
	    
	    <div class="error" th:text="${error}"></div>
	    <br></br>
	    
	    <table style="display: inline-block;">
		<tr th:each="pic : ${picArray}">
			<td height="231"><img style="height:231px;" th:src="${pic}" alt="No Picture Found"></img></td>
		</tr>
		</table>
	    
	    <table style="display: inline-block;">
	    <tr th:each="id : ${idArray}">
	    	
	    	<td height="235"><button style="width:100%" type="submit" name="button" 
	    		
	    		th:value="${idArray.indexOf(id)}"
	    		th:text="${resultArray.get(idArray.indexOf(id))}"></button>
	    		
	    		<h3><a th:href="'/trailer/' + ${id}">LINK TO TRAILER</a></h3>
	    	</td>	
	    </tr>
		</table>
		
		<table style="display: inline-block;">
		<tr th:each="year : ${yrArray}">
			<td height="235" th:text="${year}"></td>
		</tr>
		</table>
	    
	</form>
	
	</div>
	
	<div th:replace="template :: navigation"></div>
	

</body>
</html>