<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="template :: dochead">
</head>
<body>

	<div th:replace="template :: navigation"></div>
	
	<div id="wrapper2">

	<form method="post">
	    <h2>Search by Movie Title</h2>
	    <label>
 		
 			<input type="text" name="preTitle" th:value="${preTitle}"></input>
	        
	        <button type="submit" name="button" value="search">Search</button>
	    </label>
	    
	    <br></br>
		<a>Results:&nbsp;</a>
	     <div style="display: inline;" th:each="page: ${pageNum}">
	     	<a th:href="'/SearchMovie/' + ${title} + '/' + ${page}" th:text="${page}"></a>
	  	 </div>
	    
	    <div class="error" th:text="${error}"></div>
	    <br></br>
	    
	    <table class="moviePic" style="display: inline-block;">
		<tr th:each="pic : ${picArray}">
			<td><img th:src="${pic}" alt="No Picture Found"></img></td>
		</tr>
		</table>
	    
	    <table class="movieRow" style="display: inline-block;">
	    <tr th:each="id : ${idArray}">
	    	
	    	<td><button style="width:100%" type="submit" name="button" 
	    		
	    		th:value="${idArray.indexOf(id)}"
	    		th:text="${resultArray.get(idArray.indexOf(id))}"></button>
	    		<br></br><br></br>
	    		<a th:text="${yrArray.get(idArray.indexOf(id))}"></a>
	    		
	    		<h3><a th:href="'/trailer/' + ${id}">WATCH TRAILER</a></h3>
	    	</td>	
	    	
	    </tr>
		</table>

		 <br></br>
	     <div style="display: inline;" th:each="page: ${pageNum}">
	     	<a th:href="'/SearchMovie/' + ${title} + '/' + ${page}"></a>
	  	 </div>
	     <br></br><br></br>
	    
	</form>
	
	</div>
	
	<div th:replace="template :: navigation"></div>
	

</body>
</html>