<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="template :: dochead">
</head>
<body>

	<div th:replace="template :: navigation"></div>
	
	<div id="wrapper3">

	<form method="post">
	    
	    <h1 th:value="${title}" th:text="${title}"></h1>
	    
	    <div> 
		    <a>Rating (0.0 - 10.0)</a><br></br>
		    <label>		 		        
		        <input type="text" name="rating" th:value="${rating}"></input>
		    </label>
	    </div>
	    <br></br>
	    
	    <div> 
		    <a>Review</a><br></br>
		    <label>
		        <textarea name="body" th:text="${body}"></textarea>
		    </label>
	    </div>
	    
	    <div> 
		    <button type="submit">Create</button>
	    </div>
	    
	</form>
	
	</div>

</body>
</html>