<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="template :: dochead">
</head>
<body>

	<div th:replace="template :: navigation"></div>
		
	<div id="wrapper2">
	
	<form method="post">
	
	 	 <h2>Now Playing in Theaters!</h2>
	     
	     <a>Page:&nbsp;</a>
	     <div class="pageLinks" style="display: inline;" th:each="page: ${pageNum}">
	     	<a th:href="'/NowPlaying/' + ${page}" th:text="${page}"></a>
	  	 </div>
	    
	    <div class="error" th:text="${error}"></div>
	    <br></br>
	    
	     <table class="moviePic" style="display: inline-block;">
		<tr th:each="pic : ${picArray}">
			<td><img th:src="${pic}" alt="No Picture Found"></img></td>
		</tr>
		</table>
	    
	    <table class="movieRow" style="display: inline-block;">
	    <tr th:each="id : ${idArray}">
	    	
	    	<td><button style="width:100%" type="submit" name="button" 
	    		
	    		th:value="${idArray.indexOf(id)}"
	    		th:text="${resultArray.get(idArray.indexOf(id))}"></button>
	    		<br></br><br></br>
	    		<a th:text="${yrArray.get(idArray.indexOf(id))}"></a>
	    		
	    		<h3><a th:href="'/trailer/' + ${id}">WATCH TRAILER</a></h3>
	    	</td>	
	    </tr>
		</table>
		
		 <br></br>
		 <a>Page:&nbsp;</a>
	     <div class="pageLinks" style="display: inline;" th:each="page: ${pageNum}">
	     	<a th:href="'/NowPlaying/' + ${page}" th:text="${page}"></a>
	  	 </div>
	  	 <br></br><br></br>
	    
	</form>
		
	</div>
	
	<div th:replace="template :: navigation"></div>
	

</body>
</html>