<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="template :: dochead">
</head>
<body>

	<div th:replace="template :: navigation"></div>

	<form method="post">
	
	     <h2>Search by Cast/Crew Name</h2>
	    <label>
	    
	    	<input type="text" name="name" th:value="${name}"></input>
	        
	        <button type="submit" name="button" value="search">Search</button>
	    
	    </label>
	    
	    <div class="error" th:text="${error}"></div>
	    <br></br>
	    
	  
<!-- 	     <div th:each="name : ${nameArray}">

	    	<button type="submit" name="button" 
	    		
	    		th:value="${nameArray.indexOf(name)}"
	    		th:text="${name}"></button>
	    </div> -->
	    
	     <table style="display: inline-block;">
		<tr th:each="pic : ${picArray}">
			<td height="131"><img style="height:131px;" th:src="${pic}" alt="No Picture Found"></img></td>
		</tr>
		</table>
	    
	    <table style="display: inline-block;">
	    <tr th:each="name : ${nameArray}">
	    	
	    	<td height="135"><button style="width:100%" type="submit" name="button" 
	    		
	    		th:value="${nameArray.indexOf(name)}"
	    		th:text="${name}"></button></td>	
	    </tr>
		</table>
	    
	</form>
	

</body>
</html>