<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="dochead">

	<link th:href="@{/css/a/styles.css}" type="text/css" rel="stylesheet"></link>
	
	<link rel="icon" type="image/jpg" th:href="@{/images/b/favicon.jpg}" />
	
	<style type="text/css" th:inline="text">
  		body {
    		background-image: url([[@{/images/b/audience.jpg}]]);	
  		}
	</style>
	
	<title>Is It Worth Seeing?</title>
</head>


<body id="body">
	<div th:fragment="top-nav">
		<table class="banner">
			  <tr>
				<td><img style="width: auto;" th:src="@{/images/b/filmsign.jpg}" alt="Is It Worth Seeing? Ratings and Reviews"></img></td>
			  </tr>
		</table>
		
		<nav th:fragment="navigation"> 
	
	    	<div style="float:left; width:24%; display:inline-block;">
				<a href="/">&nbsp;Home</a>
			</div>
			
			<div style="text-align: center; width:52%; display:inline-block;">
				<a>Search By: </a>
		        <a href="/SearchMovie">Movie</a>&nbsp;&nbsp;
		        <a href="/SearchPerson">Person</a>&nbsp;&nbsp;
		        <a href="/NowPlaying">Now Playing</a>
		    </div>
       
        	<div style="float:right; text-align: right; width:24%; display:inline-block;">
		        <a href="/login">Login</a>&nbsp;&nbsp;
			    <a href="/logout">Logout&nbsp;</a>
			</div>
    
		
		</nav>
	
	</div>
	
	
		<nav id="bottom-nav" th:fragment="bottom-nav"> 

	
	    	<div style="float:left; width:24%; display:inline-block;">
				<a href="/">&nbsp;Home</a>
			</div>
			
			<div style="text-align: center; width:52%; display:inline-block;">
		        <a>Search By: </a>
		        <a href="/SearchMovie">Movie</a>&nbsp;&nbsp;
		        <a href="/SearchPerson">Person</a>&nbsp;&nbsp;
		        <a href="/NowPlaying">Now Playing</a>
		    </div>
       
        	<div style="float:right; text-align: right; width:24%; display:inline-block;">
		        <a href="/login">Login&nbsp;&nbsp;</a>
			    <a href="/logout">Logout&nbsp;</a>
			</div>
    
		
		</nav>
</body>
</html>