<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="dochead">

	<link th:href="@{/css/a/styles.css}" type="text/css" rel="stylesheet"></link>
	
	<style type="text/css" th:inline="text">
  		body {
    		background-image: url([[@{/images/b/audience.jpg}]]);	
  		}
	</style>
	
	<title>Reviews</title>
</head>


<body id="body">
	<div th:fragment="top-nav">
		<table class="banner">
			  <tr>
				<td><img style="width:100%;" th:src="@{/images/b/film-reel.jpg}" alt="film-reel"></img></td>
				<td><img style="width:100%;" th:src="@{/images/b/film-reel.jpg}" alt="film-reel"></img></td>
				<td><img style="width:100%;" th:src="@{/images/b/film-reel.jpg}" alt="film-reel"></img></td>
			  </tr>
		</table>
		
		<nav th:fragment="navigation"> 

	
	    	<div style="float:left; width:24%; display:inline-block;">
				<a href="/">&nbsp;Home</a>
			</div>
			
			<div style="text-align: center; width:52%; display:inline-block;">
		        <a href="/movie">Search by Movie&nbsp;&nbsp;</a>
		        <a href="/person">Search by Person</a>
		    </div>
       
        	<div style="float:right; text-align: right; width:24%; display:inline-block;">
		        <a href="/login">Login&nbsp;&nbsp;</a>
			    <a href="/logout">Logout&nbsp;</a>
			</div>
    
		
		</nav>
	
	</div>
	
	
		<nav id="bottom-nav" th:fragment="bottom-nav"> 

	
	    	<div style="float:left; width:24%; display:inline-block;">
				<a href="/">&nbsp;Home</a>
			</div>
			
			<div style="text-align: center; width:52%; display:inline-block;">
		        <a href="/movie">Search by Movie&nbsp;&nbsp;</a>
		        <a href="/person">Search by Person</a>
		    </div>
       
        	<div style="float:right; text-align: right; width:24%; display:inline-block;">
		        <a href="/login">Login&nbsp;&nbsp;</a>
			    <a href="/logout">Logout&nbsp;</a>
			</div>
    
		
		</nav>
</body>
</html>