<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="template :: dochead">
</head>
<body>

	<div th:replace="template :: navigation"></div>
	
	<div id="wrapper3">
	
	<h3 style="text-align: center;">
		Review#
		<a th:text="${review.uid}"></a>
	</h3>
	
	
	<h2 style="text-align: center;" class="review-title">
				<a th:href="'/movie/' + ${review.movieID}" 
		           th:text="${review.title}"></a>
		        <a>(</a>
		        <a th:text="${avgRating}"></a>
		        <a>avg. rating)</a>
		    </h2>
	
	<div style="text-align: center;">
	Rating
	<p th:text="${review.rating}"></p>
	<p style="word-wrap: break-word; white-space: pre-wrap; margin-left:10%; margin-right:10%;" th:text="${review.body}"></p>

	<p class="review-author">
   	 	written on <a th:text="${#dates.format(review.created, 'yyyy-MM-dd')}"></a> by <a th:href="'/' + ${review.author.username}" th:text="${review.author.username}"></a>
	</p>
	<a th:href="'/edit/' + ${review.author.username} + '/' + ${review.uid}">Edit Post</a>
	</div>
	
	 
	 </div>

</body>
</html>