html, body{
	background-size:20%;
	height: 100%;
}

input[type="text"], input[type="password"] {
    width: 200px;
}

#welcome{
	font-size: 25px;
	background-color:#c6c5ba;
	text-align: center;
}

#actorBody{
	background: linear-gradient(
    to right, 
    #ff471a 0%, 
    #ff471a 36%, 
    #f9e440 36%, 
    #f9e440 100%
    );
}

#movieBody{
	background: linear-gradient(
    to right, 
    #b6701e 0%, 
    #b6701e 36%, 
    #ff9e2c 36%, 
    #ff9e2c 100%
    );
}

#infoLinks{
	width:64%; 
	float:right;
}

#infoLinks table{
	display: inline-block;
}

textarea {
    width: 60%;
    height: 200px;
}

#wrapper3{
	margin-left:100px;
	margin-right:100px;
	height: 100%;
	overflow:auto;
	background-color: #a5efb1;
	min-height: 100%;
	text-align: center;
	
}

#wrapper2{
	margin-left:100px;
	margin-right:100px;
	height: 100%;
	overflow:auto;
	padding-left: 10%;
	background-color: #a5efb1;
	min-height: 100%
}

#wrapper{
	margin-left:100px;
	margin-right:100px;
	overflow:auto;
	background-color: #a5efb1;
	
}

nav{
	font-size:25px;
	margin-top: -0.6%;
	background-color:#ffd966;
	
}

#top-nav{
	diplay: block;
}

#bottom-nav{
	width: 100%;
	position: fixed;
	bottom: 0;
}

.banner img {  
	max-width: 100%; 
	height: auto;
	padding:none;
	margin-top: -0.8%;
}	

.review-body{
	word-wrap: break-word; 
	white-space: pre-wrap; 
	margin-left:10%; 
	margin-right:10%;
}

tr.allReviews td{
	border-bottom: 1pt solid black;	
} 