html, body{
	background-size:20%;
	height: 100%;
}

input[type="text"], input[type="password"] {
    width: 200px;
}

#welcome{
	font-size: 25px;
	background-color:#c6c5ba;
	text-align: center;
}

#actorBody{
	background: linear-gradient(
    to right, 
    #ff471a 0%, 
    #ff471a 36%, 
    #f9e440 36%, 
    #f9e440 100%
    );
}

#actorBody img{
	width: 35%;
	font-size: 35px;
	float: left;
}

#movieBody{
	background: linear-gradient(
    to right, 
    #b6701e 0%, 
    #b6701e 36%,
    #ff9e2c 36%, 
    #ff9e2c 100%
    );
}

#movieBody img{
	width: 35%;
	font-size: 35px;
	float: left;
}

#infoLinks-actor, #infoLinks-movie{
	width:64%; 
	float:right;
	white-space: nowrap;
}

.right{
	width:64%;  
	float:right;
}

.pageLinks{
	width: 80%;
}

.bigButton{
	font-size: 25px;
}

#infoLinks-actor table{
	display: inline-block;
	vertical-align:top;
	background-color: #f9e440;
}

#infoLinks-movie table{
	display: inline-block;
	vertical-align:top;
	background-color: #ff9e2c;
}

textarea {
    width: 60%;
    height: 200px;
}

#wrapper3{
	margin-left:100px;
	margin-right:100px;
	height: 100%;
	overflow:auto;
	background-color: #a5efb1;
	min-height: 100%;
	text-align: center;
	
}

#wrapper2, #wrapper4{
	margin-left:100px;
	margin-right:100px;
	height: 100%;
	overflow:auto;
	padding-left: 10%;
	background-color: #a5efb1;
	min-height: 100%
}

#wrapper{
	margin-left:100px;
	margin-right:100px;
	overflow:auto;
	background-color: #a5efb1;
	
}

nav{
	font-size:25px;
	margin-top: -0.6%;
	background-color:#ffd966;
}

#top-nav{
	display: block;
}

#bottom-nav{
	width: 100%;
	position: fixed;
	bottom: 0;
}

.banner img {  
	max-width: 100%; 
	height: auto;
	padding:none;
	margin-top: -0.8%;
}	

.review-body{
	word-wrap: break-word; 
	white-space: pre-wrap; 
	margin-left:10%; 
	margin-right:10%;
}

tr.allReviews td{
	border-bottom: 1pt solid black;	
} 

.moviePic img{
	height: 231px;
}

.movieRow td{
	height: 235px;
	border-bottom: 1pt solid black;
}

.actorPic img{
	height: 131px;
}

.actorRow td{
	height: 135px;
	border-bottom: 1pt solid black;	
} 
 



@media only screen and (max-width: 1024px) {
	
	nav {
		font-size:20px;
		margin-top: -0.6%;
	}
		
  	#welcome{
		font-size: 20px;
  	}
 
	#wrapper, #wrapper2, #wrapper3, #wrapper4{
		margin-left:70px;
		margin-right:70px;
	}
	
	h1, .h1 {
		font-size: 25px;
	}
	
	h2 {
		font-size: 20px;
	}
	
	#infoLinks-actor, #infoLinks-movie{
		width:74%; 
		float: right;
	}
	
	.right{
		width:74%; 
		float:right;
	}
		
	#actorBody{
		background: linear-gradient(
	    to right, 
	    #ff471a 0%, 
	    #ff471a 26%, 
	    #f9e440 26%, 
	    #f9e440 100%
	    );
	    
	}
	
	#actorBody img{
		width: 25%;
	}

	#movieBody{
		background: linear-gradient(
	    to right, 
	    #b6701e 0%, 
	    #b6701e 26%, 
	    #ff9e2c 26%, 
	    #ff9e2c 100%
	    );
	}
	
	#movieBody img{
		width: 25%;
	}
		
}
  
	

@media only all and (max-width: 900px) {
	
	nav, a, p {
	     font-size: 15px;
	}
  	
  	#welcome{
		font-size: 15px;
  	}

	#wrapper, #wrapper2, #wrapper3, #wrapper4{
		margin-left:50px;
		margin-right:50px;
	}
	
	h1, .h1 {
		font-size: 22px;
	}
	
	h2 {
		font-size: 17px;
	}
	
	button{
		height: 20px;
		font-size: 70%;
	}
	
	.moviePic img{
		height: 200px;
	}
	
	.movieRow td{
		height: 204px;
	}
	
	#infoLinks-actor, #infoLinks-movie{
		width:84%; 
		float: right;
	}

	.right{
		width:84%; 
		float:right;
	}
	
	.bigButton{
		height: 26px;
		font-size: 90%;
	}
		
	#actorBody{
		background: linear-gradient(
	    to right, 
	    #ff471a 0%, 
	    #ff471a 16%, 
	    #f9e440 16%, 
	    #f9e440 100%
	    );
	    background-repeat: repeat-y; 
	}
	
	#actorBody img{
		width: 15%;
	}

	#movieBody{
		background: linear-gradient(
	    to right, 
	    #b6701e 0%, 
	    #b6701e 16%, 
	    #ff9e2c 16%, 
	    #ff9e2c 100%
	    );
	    background-repeat: repeat-y;
	}
	
	#movieBody img{
		width: 15%;
	}
		
	.infoRow{
		height: 20.5px;
		font-size: 80%;
	}
	
}		

@media only all and (max-width: 628px) {
	
	nav, a, p {
	    font-size: 12px;
	}
	
	nav-div{
		display: block;
		width: 100%;
	}
  	
  	#welcome{
		font-size: 12px;
  	}
	
	#wrapper, #wrapper3, #wrapper4{
		margin-left:0px;
		margin-right:0px;
	}
	
	#wrapper2{
		margin-left:0px;
		margin-right:0px;
		min-width: 500px;
	}
	
	h1, .h1 {
		font-size: 17px;
	}
	
	
	h2 {
		font-size: 14px;
	}
	
	button{
		height: 17px;
		font-size: 60%;
	}
	
	.bigButton{
		height: 22px;
		font-size: 80%;
	}
	
	.moviePic img{
		height: 150px;
	}
	
	.movieRow td{
		height: 154px;
	}
		
	.infoRow{
		height: 20px;
		font-size: 70%;
	}
	
}		


@media only all and (max-width: 428px) {

	
}	














